<%= form_for @changeset, @action, fn f -> %>
  <div>
    <%= label f, :name %>
    <%= text_input f, :name %>
    <%= error_tag f, :name %>
  </div>
  <div>
    <%= label f, :class_id, "Class" %>
    <%= select f, :class_id, Enum.map(@classes, &{&1.name, &1.id}) %>
    <%= error_tag f, :class_id %>
  </div>
  <div>
    <%= label f, :is_active, "Active?" %>
    <%= checkbox f, :is_active %>
  </div>
  <%= submit "Save" %>
<% end %>
