<h1>Student Performance Slip</h1>

<p>Student: <%= @student_name %></p>

<div>
  <%= for %{standard: standard, score: score, assessment_type: assessment_type} <- @student_performance do %>
    <div>
      <strong>Standard:</strong> <%= standard %><br>
      <strong>Score:</strong> <%= score %><br>
      <strong>Assessment Type:</strong> <%= assessment_type %>
    </div>
  <% end %>
</div>

<div>
  <a href={Routes.report_path(@conn, :download_csv, :student_slip, @params)} target="_blank">Download CSV</a> |
  <a href={Routes.report_path(@conn, :download_pdf, :student_slip, @params)} target="_blank">Download PDF</a>
</div>
