<h1>Edit Unit</h1>
<.form_component changeset={@changeset} action={Routes.unit_path(@conn, :update, @unit)}>
  <:inner_block :let={%{f: f}}>
    <div>
      <%= label f, :title, "Unit Title" %>
      <%= text_input f, :title %>
      <%= error_tag f, :title %>
    </div>
  </:inner_block>
</.form_component>
